/backend/DMSSoftwareDotNET15OCT2025/.vs
/backend/DMSSoftwareDotNET15OCT2025/DMSSoftwareDotNET15OCT2025/.vs/DMSSoftwareDotNET15OCT2025/CopilotIndices
/backend/DMSSoftwareDotNET15OCT2025/DMSSoftwareDotNET15OCT2025/.vs/DMSSoftwareDotNET15OCT2025/FileContentIndex
/backend/DMSSoftwareDotNET15OCT2025/DMSSoftwareDotNET15OCT2025/obj/Debug
/backend/DMSSoftwareDotNET15OCT2025/DMSSoftwareDotNET15OCT2025/obj
/backend/DMSSoftwareDotNET15OCT2025/DMSSoftwareDotNET15OCT2025/bin
/backend/DMSSoftwareDotNET15OCT2025/DMSSoftwareDotNET15OCT2025/.vs
/MCGDMSSoftwareAngularDotNET15OCT2025Frontend/mcg-dms-angular-app/.vscode
